{
	"network": {
		"servers": [
		{% for server in logstash_forwarder_servers -%}
			"{{ server }}:{{logstash_forwarder_port}}"{% if not loop.first %},{% endif %}
		{%- endfor %}
],
		"ssl certificate": "{{ logstash_forwarder_cert }}",
		"ssl key": "{{ logstash_forwarder_key }}",
		"ssl ca": "{{ logstash_forwarder_ca }}",
		"timeout": 15
	},
	"files": {{ logstash_forwarder_files | to_nice_json }}
}
